

@font-face {
	font-family: 'Helvetica';
	src: url('Helvetica-Light.eot');
	src: url('Helvetica-Light.eot?#iefix') format('embedded-opentype'),
		url('Helvetica-Light.woff') format('woff'),
		url('Helvetica-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}


@font-face {
    font-family: 'pacificoregular';
    src: url('../fonts/pacifico.eot');
    src: url('../fonts/pacifico.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pacifico.woff2') format('woff2'),
         url('../fonts/pacifico.woff') format('woff'),
         url('../fonts/pacifico.ttf') format('truetype'),
         url('../fonts/pacifico.svg#pacificoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
	font-family: 'Century Gothic Italic';
	src: url('../fonts/CenturyGothic-Italic.eot');
	src: url('../fonts/CenturyGothic-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CenturyGothic-Italic.woff2') format('woff2'),
		url('../fonts/CenturyGothic-Italic.woff') format('woff'),
		url('../fonts/CenturyGothic-Italic.ttf') format('truetype'),
		url('../fonts/CenturyGothic-Italic.svg#CenturyGothic-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Century Gothic Bold';
	src: url('../fonts/CenturyGothic-Bold.eot');
	src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CenturyGothic-Bold.woff2') format('woff2'),
		url('../fonts/CenturyGothic-Bold.woff') format('woff'),
		url('../fonts/CenturyGothic-Bold.ttf') format('truetype'),
		url('../fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Century Gothic';
	src: url('../fonts/CenturyGothic.eot');
	src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CenturyGothic.woff2') format('woff2'),
		url('../fonts/CenturyGothic.woff') format('woff'),
		url('../fonts/CenturyGothic.ttf') format('truetype'),
		url('../fonts/CenturyGothic.svg#CenturyGothic') format('svg');
	font-weight: normal;
	font-style: normal;
}

*{
    box-sizing: border-box !important;
}
a:hover{color: #fff;}
header{
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    
}
.menu-icon i{
    color: #fff;
    font-size: 40px;
}
.menu-icon{
     text-align: right;
}
.index-bg{
    background: url(../images/images/bg_1.png);
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-attachment: fixed;  
}

.register-bg{
    background: url(../images/images/bg_1.png);
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    position: fixed;
    
    
    
}

.main-desciption{
    text-align: center;
    color:#fff;
    padding-top: 200px;
}
.main-desciption h1{
    font-family: 'pacificoregular'; 
    font-size:97px;
    font-weight: bold;
    padding-bottom: 30px;
   
}
.main-desciption h4{
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 2px;
    font-family: "Century Gothic Bold";
}
.main-desciption p{
    padding: 16px 0px;
   font-family: "Century Gothic Italic";
    font-size: 16px;
}
.join-btn{
    background: transparent;
    text-transform: uppercase;
    color:#fff;
    padding: 10px 30px;
    font-family: "Century Gothic Bold";
    border:1px solid #fff;
    border-radius: 0px;
   font-size: 15px;
    letter-spacing: 2px;
}
.join-btn:hover{
   background: transparent;
   color:#fff;
   border:1px solid #fff;
}
.bottom-fixed-footer{
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    text-align: right;
    color:#fff;
    font-family: "Century Gothic";
    font-size:12px;
   
}
.svg path{
  fill: #fff;
}
.logo-img{
  width: 117px;
  height: auto;
}

.registration{
   background: #1A1B1F;
    padding: 30px 40px;
    color: #fff;
    width: 480px;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.registration h3{
   text-align: center;
    padding-bottom: 10px;
    margin-top: 0;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: "Century Gothic Bold";
    text-transform: uppercase;
}
.registration .input-group{
    margin-bottom: 20px;
}
.registration .input-group-addon{
    border-radius: 0px;
        background-color: #363636;
        border-color:#363636;
}
.registration .form-control{
    background: #363636;
     border-color:#363636;
     border-radius:0;
}

.registration .form-control::-webkit-input-placeholder {
   color: #555;
   font-family: "Century Gothic";
       font-size:14px;
}

.registration .form-control::-moz-placeholder { /* Firefox 18- */
   color: #555;  
   font-family: "Century Gothic";
       font-size:14px;
}

.registration .form-control ::-moz-placeholder {  /* Firefox 19+ */
   color: #555;  
   font-family: "Century Gothic";
       font-size:14px;
}

.registration .form-control ::-ms-input-placeholder {  
   color: #555;  
   font-family: "Century Gothic";
       font-size:14px;
}
.group-btn{
        text-align: center;
            margin-bottom: 10px;
}
.group-btn .btn{
   background: transparent;
    text-transform: uppercase;
    color: #fff;
    padding: 6px 42px;
    border: 1px solid #fff;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 0px;
    font-family: "Century Gothic Bold";
}
.group-btn .btn:hover{
   background: transparent;
   color:#fff;
   border:1px solid #fff;
}
.mr-r{
    margin-right: 20px;
}
.group-icon{
    text-align: center;
        margin-bottom: 20px;
}
.group-icon span{
    width: 40px;
    border-right: 1px solid #fff;
    padding: 10px 0px;
    font-size: 20px;
    margin-right: 12px;
}
.group-icon .btn{
    background: transparent;
    color: #fff;
    font-size: 13px;
    border-radius: 0px;
    padding: 0;
    padding-right: 15px;
    font-family: "Century Gothic";
}
.registration p.contest{
    text-align: center;
    font-family: "Century Gothic";
    font-size: 12px;
    text-transform: uppercase;
}
.plain{
    width: 17px;
    height: auto;
    vertical-align: bottom;
        margin-right: 3px;
        
}
.header-top{
    background: #000;
    position: fixed;
    width: 100%;
       padding: 30px 0px 24px;
    color: #fff;
    top: 0;
    z-index: 2;
    left: 0;
       
}
.menu{
    text-align: right;
}
.menu ul>li>a{
    color:#fff;
    font-weight: bold;
    font-size: 14.4px;
    text-transform: capitalize;
    margin-right: 20px;
    font-family: "Century Gothic Bold";
}

.top-header{
    padding: 30px 0px;
}
.orcenter{
    font-family: "Century Gothic Italic";
    text-align: center;
}
.instruction{
    background: url(../images/images/IMG_0194.JPG);
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    color: #fff;
    background-attachment: fixed;
   
    
}
.instruction-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
   
    font-family: "Century Gothic Bold";
}
.instruction-footer-left>ul>li{
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    margin-bottom: 30px;
    letter-spacing: 3px;
    
}
.instruction-footer-left>ul>li:last-child{
margin-bottom: 0px;
}
.instruction-footer-left>ul>li>i{
    font-size: 40px;
    margin-right: 10px;
}

.instruction-footer-left>ul>li>span{
    vertical-align: super;
}
.photo{
        width: 35px;
    height: auto;
}
.footer-plane{
    width: 20px;
    height: auto;
}
.instruction-footer-right{
    text-align: right;
    padding-top: 18px;
}
.popup-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.7);
    z-index: 9;
}
.enter-return{
   border: 2px solid #fff;
    border-radius: 12px;
    padding: 5px;
    text-align: right;
    height: 90px;
    width: 180px;
    margin: auto;
}
.popup{
   color: #fff;
    position: absolute;
    height: 127px;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
}
.enter-txt{
    text-align: right;
    background: transparent;
    border-color: transparent;
    width: 100%;
    margin-bottom: 20px;
}
.enter-txt:focus{
    border-color: transparent;
    box-shadow: none;
}
.return{
    color: #fff;
    font-size: 18px;
}
.return:hover{
    color:#fff !important;
    text-decoration: none;
}

.btn-text{
    text-align: center;
    font-family: "Century Gothic Bold";
    margin-top: 10px;
    font-size: 13px;
    letter-spacing: 2px;
        
}

.b-group .btn{
   background: transparent;
    border: 2px solid #fff;
    border-radius: 12px;
    padding: 34px 0px;
    color: #fff;
    margin-left: 10px;
    height: 90px;
    width: 100px;
    display: inline-block;
}
.cross-btn{
       
    margin-top: -59px;
}

.left-btn{
    display: inline-block;
    position: relative;
       
}
.arrow-btn{
         background: transparent;
    border: 2px solid #fff;
    border-radius: 12px;
    color: #fff;
    width: 80px;
    height: 45px;
    font-size: 22px;
}
.arrow-top{
   position: absolute;
    top: -45px;
    background: transparent;
    border: 2px solid #fff;
    border-bottom: 0;
    border-radius: 12px 12px 0px 0px;
    color: #fff;
    width: 80px;
    height: 45px;
    font-size: 22px;
    
}
.arrow-bottom{
   border-radius:  0px 0px 12px 12px;
}
.arrow-btn-con{
    padding-top: 46px;
    text-align: center;
}
.ins-popup{
        position: absolute;
    background: rgba(0,0,0,0.5);
    width: 357px;
    padding: 20px;
    border-radius: 7px;
    top: 104px;
    right: 21px;
    color: #fff;
}

.ins-popup h3{
        font-family: "Century Gothic Bold";
    font-size: 18.2px;
    line-height: 21px;
    margin-top: 7px;
    letter-spacing: 2px;
}
.pop-list{
    font-family: "Century Gothic";
    font-size: 14.1px;
    padding-left: 21px;
}
.view-image{
   height: 543px;
    margin-top: 84px;
    background: url(../images/images/IMG_0211.JPG);
    background-size: cover;
}
.view-image img{
    width: 100%;
    height: 100%;
}
.edit-instruction{
   background: #2f2f2f;
    padding: 20px;
    margin-top: 84px;
    padding-bottom: 69px;
    color: #fff;
    height: 543px;
}
.padding-0{
    padding-left: 0;
    padding-right: 0;
}
.textbox-bg{
    background: #363636;
    border-color: #363636;
    border-radius: 0;
}
.edit-form .textbox-bg::-webkit-input-placeholder {
   color: #fff;
}

.edit-form .textbox-bg::-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

.edit-form .textbox-bg ::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

.edit-form .textbox-bg ::-ms-input-placeholder {  
   color: #fff;  
}
.edit-form textarea{
    color: #fff;  
    resize: none;
    
}
.navigator{
    background: url(../images/nav_ind.png);
    width: 80px;
    height: 80px;
    display: inline-block;
    background-size: 100% 100%;
}
.image-group{
    background: #292929;
    padding:20px 20px 20px 20px;
    display: inline-block;
}
.side-image{
    width: 19.5%;
    margin-right: 10px;
    float: left;
    position: relative;
}
.side-image:before{
    content: '';
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    
}
.side-image:last-child{
    margin-right: 0px;
}
.edit-footer{
    color: #fff;
    padding: 20px 0px 0px;
}
.edit-footer p{
     font-family: "Century Gothic";
     line-height: 60px;
}
.edit-footer-right ul li{
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    
}
.edit-footer-right ul li i{
        font-size: 30px;
    margin-right: 10px;
    vertical-align: middle;
}
.edit-footer-right ul li span{
    vertical-align:sub;
}
.overlay-cross{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
   padding: 5px 7px;
   
    color: #fff;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    display: none;
    background: transparent;
}
.side-image:hover .overlay{
    display: block;
    
}
.side-image:hover:before{
    background: transparent;
}
.fixed-bottom{
   position: fixed;
    bottom: 37px;
    width: 41%;
    height:auto;
    margin: auto;
    left: 0;
    right: 0;
   
}
.fixed-bottom img{
    width: 100%;
    height: auto;
}
#ex1Slider .slider-selection {
	background: #BABABA;
}
.slider.slider-horizontal {
    width: 100% !important;
}
.edit-instruction .form-horizontal .control-label {
    text-align: left;
}
.edit-instruction label{
    font-size: 16px;
    font-weight: normal !important;
}
.toggle-display{
    display: block;
    margin-right: 0px;
    padding: 0;
    cursor: pointer !important;
}
.toggle-display span{
    background: #fff;

}
.close-btn{width: 30px;
height: auto;
float: right;
cursor: pointer;
}
.b-group{
    text-align: center;
}
.small-cross{
    margin-right: -45px;
    margin-top: -85px;
}
.slider-form label{
    padding-left: 0;
}
.slider-form .slider.slider-horizontal .slider-handle {
    
    margin-top: 0px; 
}
.slider-form .slider-handle{
        width: 40px;
    height: 8px;
    background-color: #4b4b49;
    background-image: -webkit-linear-gradient(top,#4b4b49 0,#4b4b49 100%);
    background-image: -o-linear-gradient(top,#4b4b49 0,#4b4b49 100%);
        box-shadow: 0px 0px 3px #ccc;
    background-image: linear-gradient(to bottom,#4b4b49 0,#4b4b49 100%);
}
.slider-form .slider-handle.round {
    border-radius: 23px;
}
.slider-form  .slider.slider-horizontal .slider-track {
    background: #171717;
        height: 8px;
}
.bottom-fixed-footer>ul>li>span{
    display: inline-block;
    vertical-align: baseline;
    font-size: 10px;
    letter-spacing: 1px;
    font-family: "Century Gothic";
}
.bottom-fixed-footer>ul>li{
    vertical-align: bottom;
    padding-right: 0;
    padding-left: 0;
}
.overlay-cross-btn{
    position: absolute;
   bottom: 6px;
    right: 6px;
}
.submission{
    background: url(../images/images/IMG_0181.JPG);
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
   
}
.bottom-fixed-footer li>img{
    width: 85px;
}
.proposal-container{
    background: rgba(0,0,0,0.8);
   padding: 30px 20px 40px;
    text-align: center;
    color: #fff;
    width: 424px;   
    position: absolute;
     margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.proposal-container h4{
    font-size: 20px;
    font-family: "Century Gothic Bold";
    letter-spacing: 3px;
    margin-bottom: 18px;
}
.proposal-container p{
    font-size: 15px;
    font-family: "Century Gothic";
    letter-spacing: 2px;
    line-height: 16px;
    margin-bottom: 38px;
}
.continue-btn{
    font-size: 16px !important;
    padding: 8px 32px !important;
}
.t-msg{
    font-size: 17px !important;
    letter-spacing: 0px !important;
    line-height: 20px !important;
}
.enteries{
    background: url(../images/images/image_3.jpg);
    width: 100%; 
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.grid-view{
   text-align: right;
    margin-top: 119px;
}
.grid{
    width: 24px;
    height: auto;
}
.like-footer{
        position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: right;
    color: #fff;
    font-family: "Century Gothic";
    font-size: 27px;
   
}
.entry-msg{
    background: rgba(0,0,0,0.8);
    padding: 30px 20px 54px 32px;
    color: #fff;
    width: 251px;
    margin-top: 34px;
}
.entry-msg h4{
    font-size: 18px;
    font-family: "Century Gothic Bold";
    margin-bottom: 28px;
}
.entry-msg p{
   font-size: 15px;
    font-family: "Century Gothic";
    letter-spacing: 2px;
    line-height: 17px;
}
.heart{
    width: 32px;
    height: auto;
}
.share{
   width: 24px;
    height: auto; 
}
.like-footer li span{
    vertical-align: text-bottom;
}
.vote-popup{
    position: relative;
    display: block;
}
.thank-msg{
    background: rgba(0,0,0,0.8);
  padding: 53px 20px 45px 32px;
    text-align: center;
    color: #fff;
     width: 372px;
     height: 159px;
    position: absolute;
     margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.thank-msg p{
    font-size: 17px;
    font-family: "Century Gothic";
    line-height: 17px;
}
.thank-close{
       width: 20px;
    height: auto;
    float: right;
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 13px;
}

.rule-section{
    background: url(../images/images/bg_1.png);
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    
}
.rules{
    color: #fff;
    padding-top: 127px;
    position: relative;
       background-attachment: fixed;
    width: 100%;
    height: 100%;
}
.rules li h4{
    font-family: "Century Gothic Bold";
    text-transform: uppercase;
    font-size: 20px;
        margin-bottom: 2px;
}
.rules li p{
    font-size: 15px;
    font-family: "Century Gothic";
    letter-spacing: 1px;
    
}
.rules li h3{
    text-transform: uppercase;
     font-family: "Century Gothic Bold";
    
}
.rules li{
    margin-bottom: 20px;
}
.rule-btn{
    width: 24px;
    height: auto;
    float: right;
    cursor: pointer;
}
.rule-padding{
    padding-right: 47px;
}
.entry-view{
    color: #fff;
    padding-top: 120px;
        padding-bottom: 40px;
   
}
.like-head{
    font-size: 16px;
    font-family: "Century Gothic Bold";
}
.like-select{
    float: right;
}
.like-select select{
    background: transparent;
    border-radius: 0px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    width: 144px;
       padding: 2px 0px 2px 10px;
    font-family: "Century Gothic Bold";
    box-sizing: content-box !important;
}
.like-input .input-group-addon {
    padding: 6px 12px;
    font-size: 18px;
    text-align: center;
    background-color: transparent;
    color: #fff;
    border-color: transparent;
    border-right: 1px solid #fff !important;
    border-right: 0;
    border-radius: 0px;
}
.like-input .input-group{
    border: 1px solid #fff;
    padding: 2px 0px;
    box-sizing: content-box;
}
.like-input .form-control{
    background-color: transparent;
    color: #fff;
    border-color: transparent;
    border-radius: 0px;
}
.image-galary .row{
    margin-bottom: 10px;
}
.entry-image>img{
    width: 100%;
}
.pr-0{
    padding-right: 0px;
}
.fix-rule{
            height: 358px;
    overflow: auto;
}
.margin-b{
    padding-bottom: 400px;
}
.entry-image{
    position: relative;
}
.share-bottom{
       width: 90px;
    background: rgba(0,0,0,0.5);
    padding: 1px 10px 2px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
}
.share-icon{
    width: 10px;
    height: auto;
}
.heart-icon{
    width: 13px;
    height: auto;
}
.share-bottom span{
    font-family: "Century Gothic";
    font-size: 12px;
}
.share-bottom ul{
    margin-bottom: 0;
}
.share-bottom ul li{
    padding-right:0;
}
.save-buttons{
    text-align: center;
    position: absolute;
    height: 100px;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
}
.save-buttons .btn{
    display: block;
    margin-bottom: 20px;
    width: 140px;
    border-radius: 0;
    background: rgba(0,0,0,0.4);
    color: #fff;
    text-transform: uppercase;
    font-family: "Century Gothic Bold";
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    border-color: #fff;
}
#main {
	
	
}
.entry-view-bg{
    background: rgba(0,0,0,0.8);
    position: fixed;
    width: 100%;
    height: 100%;
}

.widget{
    background: url(../images/images/bg_1.png);
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}
.tab-panel{
    background: rgba(0,0,0,0.8);
    padding-bottom: 60px;
    display: inline-block;
    background: rgba(0,0,0,0.8);
    padding-bottom: 60px;
    position: absolute;
    height: 464px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    width: 597px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.tab-panel .nav-tabs > li > a {
    border-radius:0;
    color: #fff;
    text-transform: uppercase;
    font-family: "Century Gothic Bold";
    font-size: 17.87px;
    background: #404040;
    padding: 10px 15px 20px;
    border-right: 1px solid #fff;
    
}


.tab-panel .nav-tabs > li.active > a, .tab-panel .nav-tabs > li.active > a:hover, .tab-panel .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: transparent;
    font-size: 16px;
}

.tab-panel .nav-tabs > li > a:hover {
    border-color: transparent;
     background-color: transparent;
     
}
.tab-panel .nav-tabs.nav-justified > li > a {
  border-bottom: 1px solid transparent;
}

.tab-panel input[type=checkbox] {
	visibility: hidden;
}

.squaredTwo {
	width: 28px;
	height: 28px;	
	position: relative;
        display: inline-block;
}

.squaredTwo label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	left: 4px;
	top: 4px;
        border: 1px solid #fff;
}

.squaredTwo label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	    width: 14px;
    height: 9px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredTwo label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredTwo input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.tab-panel .tab-content{
    padding: 0px 20px;
}
.tab-checkbox span{
    color: #fff;
    font-size: 17px;
    font-family: "Century Gothic";
    font-weight: normal;
    vertical-align: bottom;
    margin-left: 5px;
        text-transform: uppercase;
}
.tab-checkbox{
    display: inline-block;
        width: 29%;
}
.tab-top{
    padding: 20px 0px 20px;
}
.tab-bottom .tab-select{
        font-size: 16px;
    font-family: 'Helvetica';
    border-color: transparent;
    padding: 2px 0 6px 30px;
    border-radius: 2px;
    color: #000;
    text-transform: uppercase;
   height: 40px;
    width: 100%;
}
.plane-out{
  width: 28px;
    height: auto;
    vertical-align: middle;
}
.pl-0{
    padding-left: 0;
}

.calander{
    width: 20px;
}
.tab-bottom .input-group-addon{
        background-color: #fff;
    border: 1px solid transparent;
  
    border-radius:0px 2px 2px 0px;
}
.calander-txt{
    background-color: #fff;
    font-size: 16px;
    font-family: 'Helvetica';
    border-color: transparent;
    padding: 2px 0 6px 30px;
    border-radius: 2px;
    color: #000;
    height: 40px;
    text-transform: uppercase;
}
.tab-bottom .input-group{
    margin-bottom: 20px;
}
.calander-content{
    float: left;
    width: 48%;
}
.ml{
    margin-left: 4%;
}
.round-w{
    width: 37%;
}
.one-way{
    width: 32%;
}
.container-tab{
   
}

.tab-bottom .calander-txt::-webkit-input-placeholder {
   color: #000;
}

.tab-bottom .calander-txt::-moz-placeholder { /* Firefox 18- */
   color: #000;
}

.tab-bottom .calander-txt ::-moz-placeholder {  /* Firefox 19+ */
   color: #000;  
}

.tab-bottom .calander-txt ::-ms-input-placeholder {  
   color: #000; 
}
.eos{
   background: url(../images/images/bg_1.png);
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;  
}
.eos-bg{
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
}
.eos-detail{
    color: #fff;
}
.eos-detail h1{
    font-family: "Century Gothic Bold";
    font-size: 42px;
}
.eos-detail p{
    font-family: "Century Gothic";
    font-size: 16px;
    margin-bottom: 30px;
}
.eos-btn-group .btn{
    background: transparent;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 30px;
    border: 1px solid #fff;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 0px;
    font-family: "Century Gothic Bold";
}
.eos-slider .carousel .carousel-indicators{
    left: 0;
       text-align: right;
    top: 0;
}
.eos-slider .carousel .carousel-indicators li{
     border-color: transparent;
    width: 15px;
    height: 15px;
    background: #48494a;
}
.eos-slider .carousel .carousel-indicators .active{
    background: #626262;
     margin: auto;
}
.eos-slider{
    margin-top: 20%;
}
.winner-section .item>img{
    width: 100%;
    height: 100% !important;
}
.winner-section .carousel-indicators li {
    width: 15px;
    height: 15px;
    background: #fff;
    border-color: transparent;
    
}
.winner-section .carousel-indicators .active {
    background: #454545;
    margin: auto;
    width: 16px;
    height: 16px;
}
.winner-section .carousel-indicators{
    bottom: 40px;
}
.winner-testimonial{
        background: rgba(0,0,0,0.6);
    width: 222px;
    padding: 20px 20px 20px 30px;
    position: absolute;
    color: #fff;
    z-index: 9;
    top: 120px;
    left: 40px;
}
.winner-testimonial h1{
    font-size: 20px;
    font-family: 'Century Gothic Italic';
    margin-top: 0;
    font-weight: bold;
        
}
.winner-testimonial h4{
    font-family: 'Century Gothic Bold';
    padding: 10px 0px;
}
.winner-testimonial p{
    font-family: 'Century Gothic';
    font-size: 15px;
    letter-spacing: 1px;
    padding-bottom: 4px;
}
.winner-testimonial span{
    font-size: 16px;
    font-family: 'Century Gothic Bold';
        margin-left: 7px;
}
.f-share{
   border: 1px solid #fff;
    font-size: 13px;
    font-family: 'Century Gothic';
    color: #fff;
    float: right;
    padding: 5px 10px;
    margin-bottom: 30px;
    margin-right: 30px;
}
.f-share i{
    font-size: 15px;
    padding-right: 10px;
}
.map-menu-icon span{
    background: #000;
}
.map-menu-icon{
    float: right;
}
.map-header{
   position: absolute;
   left: 0;
   top: 50px;
   width: 206px;
}
.play-icon{
   background: rgba(0,0,0,0.5);
    color: #fff;
    padding: 21px 8px 16px 8px;
    text-align: center;
}
.play-icon>i{
    font-size: 25px;
}
.search-icon{
    font-size: 20px !important;
    color: rgba(0,0,0,0.5);
    margin-left: 10px;
}

.map-locator a{
    font-size: 16px;
    font-family: 'Century Gothic Bold';
    color: #fff;
    text-transform: uppercase;
    
}
.map-locator{
       background: rgba(0,0,0,0.5);
    width: 324px;
    float: right;
    position: fixed;
    padding: 0px 20px 0px 0px;
    bottom: 30px;
    right: 30px;
}
.map-locator i{
      margin-right: 15px;
    font-size: 28px;
    vertical-align: text-top;
}
.map-locator .drop{
    vertical-align: sub;
    letter-spacing: 2px;
}
.user-icon{
        display: inline-block;
    border-right: 1px solid #fff;
        padding: 10px 14px;
        margin-right: 15px;
}
#map-container{
    height: 100%;
    
}
.gm-bundled-control-on-bottom{
    bottom: 190px !important;
    right: 61px !important;
}
.gm-bundled-control-on-bottom>.gmnoprint>div{
        border-radius: 0px !important;
    cursor: pointer !important;
    width: 39px !important;
    padding: 6px 5px !important;
    text-align: center !important;
    height: 64px !important;
    background-color: rgba(0, 0, 0,0.5) !important;
}
.rule-bg{
    background: rgba(0,0,0,0.8);
    position: fixed;
    width: 100%;
    height: 100%;
}
.copyright{
    background: #000;
    padding-top: 10px;
    padding-right: 23px;
    font-size: 12px;
    font-family: "Century Gothic";
    color: #fff;
}

.copyright ul>li{
    border-right: 1px solid #fff;
}
.copyright ul>li:last-child{
    border-right: 0;
}

.copyright ul>li>a{
    color: #fff;
    
}
.flight-book{
    padding-right: 23px;
}
.share-book{
    padding-right: 34px;
}

#gameplay{
    display: none;
}
#eos-popup{
   display: none; 
}
#save-btn{
    display: none;
}
.savephoto-btn{
   background: transparent;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    font-size: 14px;
    letter-spacing: 1px;
    width: 144px;
    border-radius: 0px;
    font-family: "Century Gothic Bold";
}
.savephoto-btn:hover {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}
.photoedit-footer{
        position: fixed;
    bottom: 0;
    width: 100%;
}
.winner-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.rules .nano > .nano-pane > .nano-slider {
   
    background: #484848;
}
.rules .nano > .nano-pane {
    background: #393939;
}
.thank-container{
    height: 270px;
   
}
.proposal-hi{
    height: 314px;
}
.freeplay-con{
        height: 272px;
}
#thanks-msg,#freeplay-msg,#fill-heart,#vote-msg{
    display: none;
}
#fill-heart{
    vertical-align: text-bottom;
}
.menu-active{
    color: #f00;
}
.border-r{
    border-right: 0 !important;
}
.login{
       height: 285px; 
}
.register{
    height: 485px;
}
.registration .input-group-addon i{
    width: 20px;
    font-size: 20px;
}
@media only screen and (min-width:992px) and (max-width: 1655px){
.side-image {
    width: 19.1%;
}
}


@media (max-width: 991px){
    .edit-instruction {
        margin-top: 0px;
    }
    .popup {   
    height: 375px;
    }
}

@media (max-width: 767px){
    .edit-footer-right{
        text-align:left;
    }
    .menu{
        text-align: left;
        margin-top: 20px;
    }
    .rules {
   
    padding-top: 186px;
    }
    .entry-view{
        padding-top: 186px;
    }
    .like-select{
        float: left;
    }
    .instruction-footer-right{
        text-align: left;
    }
    .side-image {
    width: auto;
}
.copyright{
    padding-bottom: 10px;
}
.copy-text{
    text-align: left;
}
.image-group{
    padding-bottom: 60px;
}

.bottom-fixed-footer {
    text-align: center;
}

}
@media only screen and (min-width:768px) and (max-width: 991px){
.side-image {
    width: 18.8%;
}
}